# Ignore everything by default
*

# Allow only these web files
!index.html
!privacidad.html
!google9312739a0adb99dd.html
!robots.txt
!sitemap.xml
!GIT_INSTRUCTIONS.md
!.gitignore
!app-release.apk

# Also ignore typical OS/IDE noise even if they start with "."
.DS_Store
.idea/
.gradle/
build/
capture/
local.properties
